# zato create cluster config
cluster_name=ulakbus
command=create_cluster
broker_host=zx-lb-01.c.zetaops-academic-erp.internal
broker_port=6379
odb_db_name=zato
odb_host=sandbox.c.zetaops-academic-erp.internal
odb_password=K+pvQMv5V6BvPVj5JT3k4HDM0j5wHn+FS6LD1yqFuH8=
odb_port=32772
odb_type=postgresql
odb_user=zato
lb_host=sandbox.c.zetaops-academic-erp.internal
lb_port=32775
lb_agent_port=32776
store_config=False
tech_account_name=admin
tech_account_password=yqFuH8
