# -*- python -*-
# ex: set syntax=python:

from buildbot.plugins import *

c = BuildmasterConfig = {}

####### BUILDSLAVES

c['slaves'] = [
    buildslave.DockerLatentBuildSlave(
        "ulakbus-slave", 
        "3V6SBwag",
        docker_host='tcp://localhost:2375',
        image='my_project_slave'),
]
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        'git://github.com/zetaops/ulakbus.git',
        workdir='gitpoller-workdir', branch='master',
        pollinterval=300))

c['change_source'].append(changes.GitPoller(
        'git://github.com/zetaops/ulakbus-ui.git',
        workdir='gitpoller-workdir', branch='master',
        pollinterval=300))

c['change_source'].append(changes.GitPoller(
        'git://github.com/zetaops/pyoko.git',
        workdir='gitpoller-workdir', branch='master',
        pollinterval=300))

c['change_source'].append(changes.GitPoller(
        'git://github.com/zetaops/zengine.git',
        workdir='gitpoller-workdir', branch='master',
        pollinterval=300))

####### SCHEDULERS

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="all",
                            change_filter=util.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["runtests"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=["runtests"]))

####### BUILDERS

factory = util.BuildFactory()
factory.addStep(steps.ShellCommand(command=["cd", "ze"]))
factory.addStep(steps.Git(repourl='git://github.com/zetaops/ulakbus.git', mode='incremental'))
factory.addStep(steps.ShellCommand(command=["", ""]))

c['builders'] = []
c['builders'].append(
    util.BuilderConfig(name="runtests",
      slavenames=["ulakbus-slave"],
      factory=factory))

####### STATUS TARGETS

c['status'] = []

####### PROJECT IDENTITY

c['title'] = "Ulakbus"
c['titleURL'] = "https://github.com/zetaops/ulakbus"
c['buildbotURL'] = "http://localhost:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010)

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}