[Unit]
# https://github.com/democracyworks/consul-coreos
Description=Consul
Documentation=https://github.com/zetaops/zcloud/blob/master/docs/consul-service.md
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

Environment=DOCKER_REPO=quay.io/democracyworks/consul-coreos
Environment=VERSION=2015041102
Environment=CONTAINER=consul

# make sure /etc/systemd/resolved.conf.d dir exists so we can add Consul's DNS resolver to system
ExecStartPre=/usr/bin/mkdir -p /etc/systemd/resolved.conf.d

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_REPO}:${VERSION}
ExecStartPre=/usr/bin/docker run -v /etc/localtime:/etc/localtime:ro  --net=host --privileged --rm cap10morgan/conntrack -F

ExecStart=/bin/bash -c 'docker run -v /etc/localtime:/etc/localtime:ro  --name ${CONTAINER} --restart=always \
  --volume /var/run -v /etc/localtime:/etc/localtime:ro /docker.sock:/var/run -v /etc/localtime:/etc/localtime:ro /docker.sock --hostname %H \
  -p 8300:8300 -p 8301:8301 -p 8301:8301/udp -p 8302:8302 -p 8302:8302/udp \
  -p 8400:8400 -p 8500:8500 -p 53:8600/udp \
  ${DOCKER_REPO}:${VERSION} ${COREOS_PRIVATE_IPV4} %m'

ExecStartPost=/bin/bash -c 'sleep 1; echo -e "[Resolve]\nDNS=$(docker inspect --format \'{{ .NetworkSettings.IPAddress }}\' ${CONTAINER})" > /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'

ExecStop=/usr/bin/docker stop ${CONTAINER}
ExecStopPost=/bin/bash -c 'rm /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'
ExecStopPost=-/usr/bin/etcdctl rm /consul.io/bootstrap/machines/%m

[X-Fleet]
Conflicts=consul@*.service
