[Unit]
Description=elk

Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

Wants=ncat_elk@*.service
Before=ncat_elk@*.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill elk-%i
ExecStartPre=-/usr/bin/docker rm elk-%i
ExecStartPre=/usr/bin/docker pull zetaops/elk

ExecStart=/usr/bin/docker run -v /etc/localtime:/etc/localtime:ro  --name elk-%i p 9200:9200 -p 9300:9300 -p 5000:5000/udp -p 5601:5601 -p 5001:5001/udp -p 514:514/udp  zetaops/elk

ExecStop=/usr/bin/docker stop elk-%i

[X-Fleet]
MachineMetadata=machineof=logging
