[Unit]
Description=Confd with haproxy
Documentation=https://github.com/zetaops/zcloud/blob/master/docs/registrator2consul-service.md

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Restart=always
RestartSec=20s

ExecStartPre=-/usr/bin/docker kill haproxy-confd-elk
ExecStartPre=-/usr/bin/docker rm haproxy-confd-elk
ExecStartPre=/usr/bin/docker pull zetaops/haproxy-confd-elk

ExecStart=/bin/bash -c 'docker run --rm --name haproxy-confd-elk -p 9200:9200 -p 5601:5601  zetaops/haproxy-confd-elk'

ExecStop=/usr/bin/docker stop haproxy-confd-elk


[X-Fleet]
Conflicts=haproxy_confd_elk@*.service
MachineMetadata=machineof=lb
MachineMetadata=disk=ssd
