[Unit]
Description=Confd with haproxy
Documentation=https://github.com/zetaops/zcloud/blob/master/docs/registrator2consul-service.md

[Service]
TimeoutStartSec=3min
EnvironmentFile=/etc/environment
Restart=always
RestartSec=20s
ExecStartPre=-/usr/bin/docker kill haproxy-confd-riak
ExecStartPre=-/usr/bin/docker rm haproxy-confd-riak
ExecStartPre=/usr/bin/docker pull zetaops/haproxy-confd-riak:ubuntu-fixed
ExecStart=/bin/bash -c 'docker run -v /etc/localtime:/etc/localtime:ro  --rm --name haproxy-confd-riak -p 8087:8087 -p 8098:8098 -p 8093:8093 -e "ETCD_IP=$COREOS_PRIVATE_IPV4" zetaops/haproxy-confd-riak:ubuntu-fixed'
ExecStop=/usr/bin/docker stop haproxy-confd-riak

[X-Fleet]
Conflicts=haproxy_confd_riak@*.service
MachineMetadata=machineof=lb
