[Unit]
Description=Postgres Zato
Documentation=https://github.com/zetaops/zcloud/blob/master/docs/redis-service.md
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

Wants=ncat_postgresql@*.service
Before=ncat_postgresql@*.service

[Service]
TimeoutStartSec=3min
RestartSec=20sec
EnvironmentFile=/etc/environment
Restart=on-failure
ExecStartPre=-/usr/bin/docker kill postgres-buildbot
ExecStartPre=-/usr/bin/docker rm postgres-buildbot
ExecStartPre=/usr/bin/docker pull postgres

ExecStart=/bin/bash -c 'docker run -v /etc/localtime:/etc/localtime:ro  --name postgres-buildbot --hostname %H \
              -e POSTGRES_PASSWORD=$POSTGRES_PASSWORD  -e POSTGRES_USER=buildbot \
              -v /mnt/postgres/buildbot:/var/lib/postgresql/data -p 5432:5432 postgres; sleep 3'

ExecStartPost=/bin/bash -c "sleep 5; etcdctl set /zaerp/envs/POSTGRES_BUILDBOT %H:`docker inspect -f '{{range $p, $conf := .NetworkSettings.Ports}}{{(index $conf 0).HostPort}}{{end}}' postgres-buildbot`;"

ExecStop=/bin/bash -c "/usr/bin/docker stop postgres-buildbot; etcdctl rm /zaerp/envs/POSTGRES_BUILDBOT;"

[X-Fleet]
Conflicts=postgresql.service
# open this service only postgres machine
MachineMetadata=machineof=redis
MachineMetadata=postgres=true
