[Unit]
Description=ulakbus

Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

Wants=ncat_ulakbus@*.service
Before=ncat_ulakbus@*.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill ulakbus-%i
ExecStartPre=-/usr/bin/docker rm ulakbus-%i
ExecStartPre=/usr/bin/docker pull zetaops/ulakbus

ExecStart=/usr/bin/docker run -v /etc/localtime:/etc/localtime:ro  --name ulakbus-%i \
       -e RIAK_SERVER=ulakbus-internal-riak-http.zetaops.local -e RIAK_PROTOCOL=http -e RIAK_PORT=8098 \
       -e REDIS_SERVER=ulakbus-internal-redis.zetaops.local:6379 -P zetaops/ulakbus

ExecStop=/usr/bin/docker stop ulakbus-%i

[X-Fleet]
MachineMetadata=machineof=app
