[Unit]
Description=ulakbus

Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill ulakbus-%i
ExecStartPre=-/usr/bin/docker rm ulakbus-%i
ExecStartPre=/usr/bin/docker pull zetaops/ulakbus

ExecStart=/usr/bin/docker run --name ulakbus-%i -e PYOKO_SETTINGS=ulakbus.settings -e RIAK_SERVER=zx-lb-01.c.zetaops-academic-erp.internal -e RIAK_PROTOCOL=http -e RIAK_PORT=8098 -e REDIS_SERVER=zx-lb-01.c.zetaops-academic-erp.internal:6379 -P zetaops/ulakbus

ExecStop=/usr/bin/docker stop ulakbus-%i

[X-Fleet]
MachineMetadata=machineof=app
MachineMetadata=disk=ssd
