[Unit]
Description=Zato Load Balancer
Documentation=https://github.com/zetaops/zcloud/blob/master/docs/registrator2consul-service.md

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
Restart=always
RestartSec=20s

ExecStartPre=-/usr/bin/docker kill zato-lb
ExecStartPre=-/usr/bin/docker rm zato-lb
ExecStartPre=/usr/bin/docker pull zetaops/zato-lb

ExecStart=/bin/bash -c 'docker run --name zato-lb  -p 11223:11223 -p 20151:20151  zetaops/zato-lb'

ExecStop=/usr/bin/docker zato-lb


[X-Fleet]
Conflicts=zato_lb@*.service
MachineMetadata=machineof=lb
MachineMetadata=disk=ssd
