global
    log 127.0.0.1     local0
    log 127.0.0.1     local1 notice
    maxconn           256000
    spread-checks     5
    daemon
    quiet


defaults
    log               global
    option            dontlognull
    option            redispatch
    option            allbackups
    maxconn           256000
    timeout connect   5000
    timeout client    300000
    timeout server    300000


frontend ulakbus
    bind *:80
    mode http
    option httplog
    option http-server-close
    capture           request header Host len 64

    acl api            hdr(host) -i api.ulakbus.net
    acl www            hdr(host) -i www.ulakbus.net
    acl nightly        hdr(host) -i nightly.ulakbus.net
    acl buildbot       hdr(host) -i buildbot.ulakbus.net
    acl discourse      hdr(host) -i dc.ulakbus.org
    acl riakcs         hdr(host) -i 3s.ulakbus.net
    acl pm             hdr(host) -i pm.ulakbus.net
    acl zato           hdr(host) -i zato.ulakbus.net
    acl log            hdr(host) -i logs.ulakbus.net

    use_backend discourse_backend if discourse
    use_backend api_backend if api
    use_backend www_backend if www
    use_backend nightly_backend if nightly
    use_backend buildbot_backend if buildbot
    use_backend riakcs_cluster_backend if riakcs
    use_backend pm_backend if pm
    use_backend zato_backend if zato
    use_backend log_backend if log
    default_backend    www_backend


backend www_backend
    mode http
    balance roundrobin
    option httplog
    option forwardfor
{{if ls "/services/ulakbus-ui-80"}}
 {{ range gets "/services/ulakbus-ui-80/*" }}
  {{ $hostkey := split (.Key) ":" }} {{ $port := split (getv .Key) ":" }}{{ $host := split (index $hostkey 0) "/" }}
    #   use, if access continer over  ip
    #   server {{index $hostkey 1}} {{index $port 0}}:{{index $port 1}} check inter 1s
    # access container via hostname and container bind port
    server {{index $hostkey 1}} {{index $host 3}}:{{index $port 1}} check inter 1s
 {{ end }}
{{ end }}


backend api_backend
    mode http
    balance roundrobin
    option httplog
    option forwardfor
{{if ls "/services/ulakbus"}}
 {{ range gets "/services/ulakbus/*" }}
  {{ $hostkey := split (.Key) ":" }} {{ $port := split (getv .Key) ":" }}{{ $host := split (index $hostkey 0) "/" }}
    server {{index $hostkey 1}} {{index $host 3}}:{{index $port 1}} check inter 1s
 {{ end }}
{{ end }}

backend discourse_backend
    mode               http
    balance            roundrobin
    option             httpchk GET /srv/status
    option             httplog
    option             forwardfor
    server      dc1    discourse.zetaops.local:80  check inter 1s


backend pm_backend
    mode               http
    balance            roundrobin
    option             httplog
    option             forwardfor
    server      pm1    pm.zetaops.local:3000  check inter 1s


backend zato_backend
    mode               http
    balance            roundrobin
    option             httplog
    option             forwardfor
    server      zato-web-admin-1   ulakbus-zato-01.zetaops.local:8183  check inter 1s


backend log_backend
    mode               http
    balance            roundrobin
    option             httplog
    option             forwardfor
    server      log-kibana-1   ulakbus-logging-01.zetaops.local:5601  check inter 1s


backend riakcs_cluster_backend
    mode              http
    balance           roundrobin
    option            httpchk GET /riak-cs/ping
    timeout connect 60s
    timeout http-request 60s
    server riakcs-1 ulakbus-riakcs-01.zetaops.local:8080 weight 1 maxconn 1024 check
    server riakcs-2 ulakbus-riakcs-02.zetaops.local:8080 weight 1 maxconn 1024 check
    server riakcs-3 ulakbus-riakcs-03.zetaops.local:8080 weight 1 maxconn 1024 check

backend nightly_backend
    mode http
    balance roundrobin
    option httplog
    option forwardfor
{{if ls "/services/ulakbus"}}
 {{ range gets "/services/ulakbus-backend-nightly/*" }}
  {{ $hostkey := split (.Key) ":" }} {{ $port := split (getv .Key) ":" }}{{ $host := split (index $hostkey 0) "/" }}
    server {{index $hostkey 1}} {{index $host 3}}:{{index $port 1}} check inter 1s
 {{ end }}
{{ end }}


backend buildbot_backend
    mode http
    balance roundrobin
    option httplog
    option forwardfor
{{if ls "/services/buildbot-master-8010"}}
 {{ range gets "/services/buildbot-master-8010/*" }}
  {{ $hostkey := split (.Key) ":" }} {{ $port := split (getv .Key) ":" }}{{ $host := split (index $hostkey 0) "/" }}
    server {{index $hostkey 1}} {{index $host 3}}:{{index $port 1}} check inter 1s
 {{ end }}
{{ end }}
