# zato create server config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.server2.cert.pem
cluster_name=
command=create_server
kvdb_host=
kvdb_port=6379
kvdb_password=
odb_db_name=
odb_password=
odb_host=
odb_port=5432
odb_type=
odb_user=
path=/opt/zato/env/server
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.server2.key.pem
pub_key_path=/opt/zato/ca/zato.server2.key.pub.pem
server_name=
store_config=False
